<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>회원정보 변경</title>
    <!--부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>
<body>

<!--header-->
<div th:insert="common/header.html" id="header"></div>

<div class="m-5">

    <h3>회원정보 변경</h3>

    <button type="button" class="btn btn-primary mx-5" sec:authorize="isAuthenticated()">
        <a th:href="@{/changepwd}" role="button" class="btn-primary text-decoration-none">비밀번호 변경</a>
    </button>

    <form class="row g-3" th:action="@{/changeinfo}"  method="post">
        <input type="hidden" th:id="id" th:name="id" th:value="${accountDto.id}" >
        <input type="hidden" th:id="role" th:name="role" th:value="${accountDto.role}" >
        <input type="hidden" th:id="password" th:name="password" th:value="${accountDetails.password}">
        <input type="hidden" name="_method" value="put"/>

        <div class="col-md-6">
            <label for="username" class="form-label">아이디</label>
            <input type="text" class="form-control" th:value="${accountDto.username}" id="username" name="username" readonly>
        </div>

        <div class="col-12">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" th:value="${accountDto.email}" id="email" name="email">
        </div>

        <div class="col-12">
            <label for="phone" class="form-label">전화번호</label>
            <input type="tel" class="form-control" th:value="${accountDto.phone}" id="phone" name="phone">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">확인</button>
        </div>
    </form>

</div>




<!--footer-->
<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>