<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <!--부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>
<body>

<!--header-->
<div th:insert="common/header.html" id="header"></div>

<div class="card m-5">

    <div class="m-5 form-inline d-flex">
        <h3>마이페이지</h3>
        <a th:href="@{/mypage/changeinfo}" role="button">
            <button type="button" class="btn btn-primary mx-5" sec:authorize="isAuthenticated()">
                회원정보 변경
            </button>
        </a>
    </div>
    <div class="m-5">
        <input type="hidden" th:id="id" th:name="id" th:value="${accountDto.id}" >
        <input type="hidden" name="_method" value="put"/>

        <div class="mb-3 row">
            <label th:for="username" class="col-sm-2 col-form-label">이름</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${accountDto.username}" th:id="username" th:name="username">
            </div>
        </div>
        <div class="mb-3 row">
            <label th:for="email" class="col-sm-2 col-form-label">이메일</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${accountDto.email}" th:id="email" th:name="email">
            </div>
        </div>
        <div class="mb-3 row">
            <label th:for="phone" class="col-sm-2 col-form-label">전화번호</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" th:value="${accountDto.phone}" th:id="phone" th:name="phone">
            </div>
        </div>
    </div>
</div>

<div class="card m-5">

    <div class="m-5">
        <h3>내 시간표</h3>
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">목적지</th>
                <th scope="col">시간</th>
                <th scope="col">요금</th>
                <th scope="col">경유지</th>
                <th scope="col">특이사항</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="accountBusInfo : ${accountBusInfos}" >
                    <td th:text="${accountBusInfo.businfo.arrival}"></td>
                    <td th:text="${accountBusInfo.businfo.departtime}"></td>
                    <td th:text="${accountBusInfo.businfo.price}"></td>
                    <td th:text="${accountBusInfo.businfo.layover}"></td>
                    <td th:text="${accountBusInfo.businfo.note}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--footer-->
<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>